
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    
    <h1 class="text-center mt-2 pt-3">Log In</h1>
    <form action="/login" method="post" class="w-50 m-auto p-3">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email">
        </div>
        {% with messages = get_flashed_messages(category_filter=["emailLogIn"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        {% with messages = get_flashed_messages(category_filter=["passwordLogin"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <button type="submit" class="btn btn-danger">Login</button>
      </form>
    <a class="d-flex justify-content-center" href="/registerPage"><button class="btn btn-primary">Don't have an account yet? Register!</button></a>
</body>
</html>